//banner
.header-hero {
     position: relative;
     margin: -85px 10px 10px 10px;
     padding: 50px;
     height: 97vh;
     border-radius: 20px;
     background: linear-gradient(0deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.45) 100%), url("/assets/img/bg-header-hero.jpg"), lightgray 50%;
     background-size: cover;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;

     @include media-breakpoint-up(lg) {
          padding: 150px 50px;
     }

     .header-body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 60vh;

          @include media-breakpoint-up(md) {
          }

          .header-text {
               color: var(--font-white);
               font-size: 30px;
               font-weight: 700;

               @include media-breakpoint-up(md) {
                    font-size: 50px;
               }
          }

          .header-desc {
               @include media-breakpoint-up(lg) {
                    padding: 0 300px;
               }
          }
     }
}

//card-aplikasi
.our-apps {
     margin: 150px 0;

     background-image: url("/assets/img/bg-apps.svg");
     background-repeat: repeat;

     .bg {
          padding: 50px 0;
          background: rgba(255, 255, 255, 0.5);
          backdrop-filter: blur(50px);
          -webkit-backdrop-filter: blur(50px);
     }

     .title {
          margin-bottom: 50px;
     }
     .title-desc {
          .desc {
               padding-right: 150px;
               font-size: 34px;
               font-style: normal;
               font-weight: 600;
               line-height: 138.9%; /* 44.448px */
          }
     }

     .card-apps {
          margin: 150px 0 0 0;
          .card-item {
               padding: 10px;

               .card-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 15px;
                    border-radius: 20px;
                    border: 1px solid #c3c3bf;
                    min-height: 450px;
                    &:hover {
                         border: 1px solid var(--primary-color);
                         transition: all 0s ease-out;
                    }

                    .img-title-desc {
                         .img-card {
                              display: block;
                              height: 150px;
                              border-radius: 15px;
                              background: #c4c4c4;
                              margin-bottom: 15px;
                              overflow: hidden;

                              img {
                                   transition: 0.5s all ease-in-out;

                                   &:hover {
                                        transform: scale(1.2);
                                   }
                              }
                         }
                         span {
                              font-size: 16px;
                              font-style: normal;
                              font-weight: 600;
                         }
                         p {
                              font-size: 14px;
                              font-style: normal;
                              font-weight: 400;
                              color: #777574;
                         }
                    }
               }
          }
     }
}

// about-slams
.about-slams {
     // margin-bottom: 100px;
     background-image: url("/assets/img/bg-about.svg");
     background-repeat: no-repeat;
     background-size: contain;
     background-position: bottom;
     min-height: 600px;
     .title-desc {
          margin-top: 50px;
          @include media-breakpoint-up(md) {
               padding-right: 70%;
          }
          .title {
               font-size: 32px;
               font-style: normal;
               font-weight: 600;
               line-height: 138.9%;
          }
          p {
               margin-top: 40px;
               color: #777574;
               font-size: 15px;
               font-style: normal;
               font-weight: 500;
               line-height: 138.9%; /* 20.835px */
          }
     }
}
